{% load static %}
<html>

<head>
  <title>Sign Up</title>
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<div class="container">
  <div class="brand-logo"></div>
  <div class="brand-title">BlogSite</div>
  <div class="inputs">
    <form action="/signup" method="post">
      {% csrf_token %}
      <label>USERNAME</label>
      <input type="text" id="username" name="username" placeholder="username" required />
      <label>EMAIL</label>
      <input type="text" id="email" name="email" placeholder="email" required />
      <label>PASSWORD</label>
      <input type="password" id="pass1" name="pass1" placeholder="Min 6 charaters long" />
      <button type="submit">SignUp</button>
    </form>
  </div>
</div>

</html>